.container {
  width: 200px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.container h2 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.container p {
  margin: 0px;
  font-size: 2214pxpx;
  color: #444;
}

@media (min-width: 601px) and (max-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
